<header>
  <a class="right" href="<%= u "projects", current_project.id, "edit" %>">Edit</a>
  <h4><%= current_project.name %></h4>
</header>
<%= partial :subnav %>
<div id="project_<%= current_project.id %>"></div>
<script type="text/javascript">
  $(function(){
    Afterburn.render(<%= current_project.diagram(:type => diagram).to_json %>);
  });
</script>
