<div id="sidebar">
  <header>
    <h5>Projects: <%= current_member.name %></h5>
  </header>
  <ul class="projects side-nav">
    <% current_projects.each do |project| %>
      <li class="project_<%= project.id %> <%= 'active' if project.id == params[:id] %>">
        <a href="<%= u "projects", project.id %>"><%= project.name %></a>
      </li>
    <% end %>
  </ul>
</div>

